@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Sans+JP:wght@700&display=swap');

body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
}

.navbar {
    padding: 20px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 4px 2px 0px rgba(192, 182, 182, 0.75);
    -moz-box-shadow: 0px 4px 2px 0px rgba(192, 182, 182,0.75);
    box-shadow: 0px 4px 2px 0px rgba(192, 182, 182, 0.75);
}

.navbar img{
    width: 30px;
}

.navbar img:hover{
    opacity: 0.8;
    transform: scale(1.05);	
}

.navbar_left a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.navbar_left a:hover {
    color: #00754a;
}

.navbar_left{
    display: flex;
    align-items: center;
}

.navbar_left > * {
    padding: 10px;
}

.navbar_right a{
    display: flex;
    align-items: center;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.navbar_right a:hover{
    color: #00754a;
}


/*---News---*/

.news_right, .news_left{
    font-size: 30px;
}

/*---News_1---*/

.news_1{
    text-align: center;
    align-items: center;
    margin: auto;
    background-color: beige;
    display: flex;
    margin-top: 1em;
    flex-direction: column;
}

.news_1 .news_left img{
    align-items: center;
    max-width: 100%;
    display: flex;
}

/*---News_2---*/

.news_2{
    text-align: center;
    display: flex;
    background-color: aqua;
    margin-top: 1em;
    align-items: center;
    flex-direction: column;
}

.news_2 .news_left img{
    align-items: center;
    max-width: 100%;
    display: flex;
}

/*---News_3---*/

.news_3{
    align-items: center;
    text-align: center;
    display: flex;
    background-color:coral;
    margin-top: 1em;
    margin-bottom: 0.6em;
    flex-direction: column;
}

.news_3 .news_left img{
    align-items: center;
    max-width: 100%;
    display: flex;
}

/*---About---*/
.about{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
}

.about a{
    color: black;
    text-decoration: none;
}

.about img{
    width: 30px;
}

.about .slogan{
    text-align: center;
    align-items: center;
    padding: 0.5em 1em;
    color: #474747;
    background: white;
    border: solid 3px whitesmoke;
    border-radius: 30px;
}

.about .schedule{
    text-align: center;
    align-items: center;
    padding: 0.5em 1em;
    color: #474747;
    background: white;
    border: solid 3px whitesmoke;
    border-radius: 30px;
}

.about .images{
    text-align: center;
    align-items: center;
    padding: 0.5em 1em;
    color: #474747;
    background: white;
    border: solid 3px whitesmoke;
    border-radius: 30px;
}

.about .map{
    text-align: center;
    align-items: center;
    padding: 0.5em 1em;
    color: #474747;
    background: white;
    border: solid 3px whitesmoke;
    border-radius: 30px;
}




/*---bottom---*/
.bottom{
    background-color:rgb(255, 255, 255);
    text-align: center;
}

.bottom hr{
    color: gray;
}

.bottom a{
    color: black;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bottom .copyright{
    color: rgba(0,0,0,.58);
}

.bottom img{
    width: 30px;
}

@media screen and (min-width:375px){
    .navbar{
        font-size: 15px;
    }
    .navbar img{
        width: 30px;
    }

    .news_right ,.news_left{
        font-size: 25px;
        max-width: 100%;
        width: 100%;
    }

    .about{
        font-size: 13px;
    }
    .about img{
        width: 50px;
    }
}

@media screen and (min-width:768px){
    .navbar{
        font-size: 20px;
    }
    .navbar img{
        width: 50px;
    }

    .news_right ,.news_left{
        font-size: 27px;
        max-width: 50%;
        height: 100%;
        width: 50%;
    }
    .news_1{
        flex-direction: row;
    }
    .news_1 .news_left img{
        display: flex;
    }
    .news_2{
        flex-direction: row;
    }
    .news_2 .news_left img{
        display: flex
    }
    .news_3{
        flex-direction: row;
    }
    .news_3 .news_left img{
        display: flex
    }

    .about{
        font-size: 30px;
    }
    .about img{
        width: 120px;
    }
}

@media screen and (min-width:1100px){
    .news_right ,.news_left{
        font-size: 40px;
    }
    .about{
        font-size: 35px;
    }
    .about img{
        width: 180px;
    }
}